*{
    margin: 0;
    padding: 0;width: auto;
    box-sizing: border-box;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: lightskyblue;
    color: black;
}

section{
    max-width:900px;
    margin: auto;
    padding: 2rem;
    background: #fff;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba (100,10,20,0.05);
   
}

header h1 {
    color: black;
    text-align: center;
    padding: 1rem;
    background-color:ghostwhite;
}
header p {
    font-size: 1.2rem;
    text-align: center;
    background-color:ghostwhite;
}

.about h2 {
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
}

 
.about img{
    width: 300px;
    height: 300px;
    border-radius: 80%;
    display: block; 
    margin: 1rem auto;
    box-shadow: 0 4px 10px rgba(5, 5, 5, 0.1);
    transition: transform 0.3s;
}

.about img:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.about p{
    text-align: center;
    font-weight: bold;
}


.skills ul,
.project ul  {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.skills li,
.projects li {
    background-color: lightskyblue;
    padding: 0.6 1rem;
    margin-bottom: 0.5rem;
    border-left: 5px solid lavender;
    border-radius: 4px;
}

.projects a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: 0.2s;
}

.contact p {
    margin-bottom: 1rem;
}

button {
    background-color: lightskyblue;
    color:black;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightskyblue;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: white;
    margin-top: 3rem;
    font-size: 0.9rem;
}

 @media (max-width:600px) {
    header h1 {
        font-size: 2rem;
    }
    section {
        padding: 1.2rem;
    }
    .about img{
        width:120px;
    }
 }